.avatar-upload {
    position: relative;
    margin: 50px auto;
}
.avatar-upload {
    overflow: hidden;
    margin-top: 0px;
}
.avatar-upload .avatar-preview input {
    display: none;
}
.avatar-preview > label {
    height: 148px;
    width: 148px;
    position: absolute;
    cursor: pointer;
    margin-top: -35px;
    background-color: rgba(255, 255, 255, 0.7);
}
.avatar-preview > label > img {
    margin: 0 auto;
}

.avatar-upload .avatar-preview {
    width: 148px;
    height: 148px;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
}
.avatar-upload .avatar-preview > img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}