@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.ant-modal-header{
    background: #069255 !important;
    
}

.ant-modal-title {
    color: white !important;
}
.ant-modal-body {
    padding: 0 !important;
  }